<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wearosacc">

    <!-- 가속도 센서 사용을 명시 -->
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-feature android:name="android.hardware.type.watch"/>

    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.DeviceDefault"
        android:label="WearOS Accelerometer"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true"/>

        <activity
            android:name="com.example.wearosacc.presentation.MainActivity"
            android:exported="true"
            android:taskAffinity="com.example.wearosacc"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>